/* style for about details*/
.about-details {
    display: block;
    background: linear-gradient(rgb(0,0,0,0.4), 
    rgba(0,0,0,0.5)), url("img/image.jpg.jpg")
     fixed;
     background-repeat: no-repeat;
     background-size: cover;
     color: white;
     text-align: center;
     width: 70%;
     margin: 40px;
     padding: 70px 70px;
     
}
.about-details p {
    font-size: 22px;
}
.details-btn {
    border: none;
    background-color: blue;
    color: white;
    padding: 14px 15px;
    text-align: none;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bolder;
}
.details-btn:hover {
    background-color:deeppink;
}
/* teacher section*/
.teacher {
display: block;
text-align: center;
background: linear-gradient(rgb(0,0,0,0.4), 
    rgba(0,0,0,0.5)), url("img/back2.jpg")
     fixed;
padding-top: 10px;
padding-bottom: 40px;
background-repeat: no-repeat;
     background-size: cover;
}
.profile {
    display: inline-block;
    width: 30%;
    color:white;
    border-radius: 12px;
    padding: 10px 0;
}
.profile img {
    width: 150px;
    height: 150px;
    border-radius: 12px;

}
.profile p {
    font: 25px;
    color: black;
    font-weight: bold;
}
.profile a {
    color: white;
    margin: 0 5px;
}
@media (max-width: 700px) {
    .profile {
        display: block;
        width: auto;
        height: auto;
        margin: 10px auto;

    }
    .about-details {
        width: 90%;
        margin: 40px auto;
        padding: 20px 10px;
    }
}